/* background color */

        /* Navbar */
        body{
          z-index: 1;
          background: linear-gradient(-45deg, red, black, orange, black, green );
          background-size: 400% 400%;
          width: 100%;
          height: 100vh;
          animation: animate 15s ease infinite;    
       }
       @keyframes animate {
          0% {
              background-position: 0% 50%;
          }
          50% {
              background-position: 100% 50%;
          }
          100% {
              background-position: 0% 50%;
          }
      }

      .navbar {
          width: 100%;
          background-color: #555;
          overflow: auto;
      }
      .navbar a {
          float: left;
          padding: 12px;
          color: white;
          text-decoration: none;
          font-size: 17px;
      }

      .navbar a:hover {
          background-color: #000;
      }

      .active {
          background-color: orange;
          
      }

      @media screen and (max-width: 500px) {
      .navbar a {
          float: none;
          display: block;
      }
      }
      /* centered content */
      .centered-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.3); 
          padding: 20px; 
          border-radius: 10px; 
          backdrop-filter: blur(10px);
          width: 800px;
          height: 480px;
          }
      .view-button {
          background-color: #373535;
          color: #fff; 
          border: none;
          padding: 10px 20px;
          margin-left: 220px;
          cursor: pointer; 
          font-family: ubuntu;
          border-radius: 40px;
          top: 75%;
      }
      .image{
          border-radius: 15%;
      }
      .text {
          width:300px;
          padding:10px;
          height:150px;
          float:left;
          margin:10px;
          font-size: 17px;
          color: #fff;
      }
      .image {
          width:325px;
          padding:10px;
          height:340px;
          float:right;
          margin:10px;
      }