<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Add Project</title>
   
</head>
<body>

    <div class="link-card-format">
        <!-- view projects -->
        <div class="link-card">
            <img src="../icons/view.png" alt="Link Image">
            </br>
            <a href="view.php">View Projects</a>
        </div>
        <!-- add projects -->
        <div class="link-card">
            <img src="../icons/code.png" alt="Link Image">
            </br>
            <a href="addProject.html">Add a New Project</a>
        </div>
        <!-- my projects -->
        <div class="link-card">
            <img src="../icons/myprojects.png" alt="Link Image">
            </br>
            <a href="myprojects.php">My Project</a>
        </div>
        <!-- mentees -->
        <div class="link-card">
            <img src="../icons/mentees.png" alt="Link Image">
            </br>
            <a href="MyMentees.php">Mentees</a>
        </div>
        <!-- Requests -->
        <div class="link-card">
            <img src="../icons/request.png" alt="Link Image">
            </br>
            <a href="requests.php">Requests</a>
        </div>
        <!-- my chat -->
        <div class="link-card">
            <img src="../icons/chat.png" alt="Link Image">
            </br>
            <a href="chat.html">My chats</a>
        </div>
        <!-- profile -->
        <div class="link-card">
            <img src="../icons/profile.png" alt="Link Image">
            </br>
            <a href="profile.php">View profile</a>
        </div>
        <!-- log out -->
        <div class="link-card">
            <img src="../icons/logout.png" alt="Link Image">
            </br>
            <a href="logout.php">Log out</a>
        </div>
        <!-- Live Background -->
        <div class="live-background">   </div>
    </div>

    

    </body>
    </html>
    