<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    
    <title>Apprentice</title>
</head>
<body>
    <!-- background image -->
    <div class="video-container">
        <video autoplay muted loop id="background-video">
            <source src="../images/bg.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- Login and register buttons -->
    <header>
        <nav class="navbar">
            <!-- Your navigation links here -->
        </nav>
        <div class="buttons">
            <a href="login.html">
                <button class="login-button">Log In</button>
            </a>
            <a href="register.html">
                <button  class="register-button">Register</button>
            </a>
        </div>
    </header>
    <!-- front content -->
    <div class="centered-content">
        <h1> Apprentice </h1>
        <p> From Aspiring to Achieving: The Developer's Odyssey</p>
        <button class="view-button"> Learn more </a>
    </div>
    <section id="learn">
        <!-- Section 1 content -->
        

    </section>

    
</body>
</html>